# Copyright (c) 2023 Andrei Gaevkii
# SPDX-License-Identifier: MIT

if BOARD_MRIYA_LEFT

	config ZMK_KEYBOARD_NAME
	default "Mriya"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif # BOARD_MRIYA_LEFT

if BOARD_MRIYA_RIGHT

	config ZMK_KEYBOARD_NAME
	default "Mriya Right"

endif # BOARD_MRIYA_RIGHT


if BOARD_MRIYA_LEFT || BOARD_MRIYA_RIGHT

config BOARD
	default "mriya"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

endif # BOARD_MRIYA_LEFT || BOARD_MRIYA_RIGHT
