# Copyright (c) 2023 Andrei Gaevkii
# SPDX-License-Identifier: MIT

config BOARD_MRIYA_LEFT
	bool "mriya_left"
	depends on SOC_NRF52840_QIAA

config BOARD_MRIYA_RIGHT
	bool "mriya_right"
	depends on SOC_NRF52840_QIAA